#################################################
# Exclude all by default
#################################################
*

#################################################
# Whitelisted folders
#################################################
!.prod*
!application*
!project*

#################################################
# Whitelisted files
#################################################
!.flake8
!docker-entrypoint.sh
!manage.py
!mypy.ini
!requirements*
