#################################################
# Exclude all by default
#################################################
*

#################################################
# Whitelisted folders
#################################################
!application*
!project*

#################################################
# Whitelisted files
#################################################
!.flake8
!docker-entrypoint.sh
!gunicorn_configurations.py
!manage.py
!mypy.ini
!requirements*
