arrow==0.15.5                                   # to work with dates and times for Python, influenced by moment.js
boto3==1.12.3                                   # AWS SDK which is needed for media files handled by django-storages
dj-database-url==0.5.0                          # being able to use DATABASE_URL
django-cors-headers==3.2.1                      # handling server headers required for CORS
django-extensions==2.2.6                        # lots of useful django management commands like shell_plus
django-filter==2.2.0                            # enabling the API to filter results based on query params
django-storages==1.9.1                          # Amazon S3 storage support for media files for Wagtail
django==2.2.9                                   # web framework itself
djangorestframework==3.11.0                     # creating rest APIs
drf-yasg==1.17.0                                # Swagger UI for Django REST Framework
gunicorn==20.0.4                                # application server
jsonschema==3.2.0                               # An implementation of JSON Schema validation for Python
markdown==3.1.1                                 # Markdown support for the browsable API of Django REST Framework
psycopg2-binary==2.8.4                          # PostgreSQL Database Adapter for Python
requests==2.22.0                                # sending http requests
wagtail==2.8                                    # CMS itself
whitenoise==5.0.1                               # enabling Django to serve its own static files
