-c requirements.txt # Constrained by requirements.txt

django-extensions==2.2.6
flake8==3.7.9
mypy==0.761
pytest-django==3.8.0
pytest-watch==4.2.0
pytest==3.10.1 # 5.3.4 breaks ptw with logging issues
